body {
  /*  background: lightblue;
  background: -webkit-linear-gradient(left, lightblue, white);
  background: -o-linear-gradient(right, lightblue, white);
  background: -moz-linear-gradient(right, lightblue, white);
  background: linear-gradient(to right, lightblue, white);
  */
  background: url("../images/srnd2.jpg") no-repeat center;
  /*bg image if we want*/
  background-size: cover;
  background-position: unset;
}

label {
  font-family: 'Holtwood One SC', serif;
}


/*-----TAB STYLES----*/

.tab {
  border-style: inset;
  background-color: rgba(94, 134, 192, 0.65);
  font-family: 'Berkshire Swash', cursive;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

a {
  color: #f3f9ff;
  text-decoration: none;
}


/*----- END TAB STYLES----*/


/*--- TAB/ TAB TITLE STYLE ---*/

#addTop,
#searchTop {
  margin-left: 75px;
  margin-top: 35px;
  font-family: 'Holtwood One SC', serif;
  color: rgba(36, 32, 32, 1);
}

#randomTop {
  margin-left: 75px;
  font-family: 'Holtwood One SC', serif;
  color: rgba(36, 32, 32, 1);
}

#searchTop {
  margin-bottom: 35px;
}


/*--------------END TABS---------------*/

#addForm {
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(36, 32, 32, 1);
}


/*--END ADD TAB--*/


/* search area */

.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.invisible {
  visibility: hidden;
}

.text {
  font-family: 'Holtwood One SC', serif;
  color: rgba(36, 32, 32, 1);
}

.checked {
  color: orange;
}


/*---BUTTONS BUTTONS BUTTONS---*/

#randomBtn {
  float: right;
  background-color: rgba(36, 32, 32, 0.77);
  color: whitesmoke;
}


/*---------------------*/

.tab-content {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.control-label {
  text-align: right;
}

.mainTitle {
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Berkshire Swash', cursive;
}

#exTab1 .tab-content {
  color: black;
  background-color: rgba(238, 238, 238, 0.65);
  padding: 5px 15px;
}

#exTab2 h3 {
  color: black;
  background-color: rgba(238, 238, 238, 0.65);
  padding: 5px 15px;
}


/* remove border radius for the tab */

#exTab1 .nav-pills>li>a {
  border-radius: 0;
}


/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills>li>a {
  border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
  color: black;
  background-color: rgba(238, 238, 238, 0.65);
  padding: 5px 15px;
}


/*-----CREATE A DRINK TAB----*/

#2a {
  padding: 20px;
}


/*----END CREATE A DRINK TAB---*/


/*-----RANDOM DRINK TAB----*/

#2a {
  padding: 20px;
}

#random_container {
  font-family: 'Tangerine', cursive;
  font-size: 62px;
  margin: 50px;
}

.randoDump {
  font-size: 40px;
  font-weight: bold;
}

#randoIngOne,
#randoIngTwo,
#randoIngFour,
#randoQtyOne,
#randoQtyTwo,
#randoQtyFour {
  border-right: solid #eee;
}

.randomImage {
  height: 200px;
  border: 15px solid rgba(0, 0, 0, 0.3);
}


/*----END CREATE A DRINK TAB---*/

@media (max-width: 560px) {
  .nav-tabs>li {
    float: none;
    margin-bottom: 0px;
  }
  .nav-tabs>li.active>a {
    border: 1px solid #dddddd;
  }
  .nav-tabs>li.active>a:hover {
    border: 1px solid #dddddd;
  }
  .nav-tabs>li>a {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
  .nav-tabs>li>a:hover {
    border-color: #dddddd;
  }
}


/*----END CREATE A DRINK TAB---*/

.btnStyle {
  color: #FFFFFF;
  background-color: #286090;
  border-color: #FFFFFF;
}

.btnStyle:hover,
.btnStyle:focus,
.btnStyle:active,
.btnStyle.active,
.open .dropdown-toggle.btnStyle {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #FFFFFF;
}

.btnStyle:active,
.btnStyle.active,
.open .dropdown-toggle.btnStyle {
  background-image: none;
}

.btnStyle.disabled,
.btnStyle[disabled],
fieldset[disabled] .btnStyle,
.btnStyle.disabled:hover,
.btnStyle[disabled]:hover,
fieldset[disabled] .btnStyle:hover,
.btnStyle.disabled:focus,
.btnStyle[disabled]:focus,
fieldset[disabled] .btnStyle:focus,
.btnStyle.disabled:active,
.btnStyle[disabled]:active,
fieldset[disabled] .btnStyle:active,
.btnStyle.disabled.active,
.btnStyle[disabled].active,
fieldset[disabled] .btnStyle.active {
  background-color: #286090;
  border-color: #FFFFFF;
}

.btnStyle .badge {
  color: #286090;
  background-color: #FFFFFF;
}