body {
  background: lightblue;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, lightblue, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, lightblue, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, lightblue, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, lightblue, white);
  /* Standard syntax */
}

#exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}


/* remove border radius for the tab */

#exTab1 .nav-pills>li>a {
  border-radius: 0;
}


/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills>li>a {
  border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
  color: white;
  background-color: #428bca;

  padding: 5px 15px;
}


/*-----CREATE A DRINK TAB----*/

#2a{
  padding:20px;
}

/*----END CREATE A DRINK TAB---*/
