/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../images/srnd2.jpg") no-repeat center;
  /*bg image if we want*/
  background-size: cover;
  /*background-position: unset;*/
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  border-style: inset;
  background-color: rgba(238, 238, 238, 0.65);
  padding-left:50px;
  padding-right:50px;
  margin-top: 30px;
}

#ageRow {

  height:110px;
}

#ageCheck{
  font-size: 25px;
  font-weight: bold;
}

#yesBtn{
  margin-right:30px;
}

#yesBtn, #noBtn{
  background-color: rgba(36, 32, 32, 0.77);
  color: whitesmoke;
}

.link{
  font-size: 20px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.nope {
  float: left;
  padding-right: 10px;
}

.yes {
  float: right;
  padding-left: 10px;
}

p {
  font-size: 16px;
}

h4 {
  font-style: bold;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#ageRow{
  text-align:center;
}

.age{
  text-align: center;
  float:left
}

#homeLinks{
  text-align: right;
}

#titleBox{
  text-align: left;
}

#shake, #rattle, #drink {
  font-family: 'Berkshire Swash', cursive;
  font-size: 50px;
   text-shadow: 2px 2px 4px white;
}

#shake {
  margin-top: 40px;
  left: 500px;
  -webkit-animation: slideIn 0.5s forwards;
  -moz-animation: slideIn 0.5s forwards;
  animation: slideIn 0.5s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

#rattle {
  left: 500px;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

#drink {
  left: 500px;
  -webkit-animation: slideIn 1.5s forwards;
  -moz-animation: slideIn 1.5s forwards;
  animation: slideIn 1.5s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}



/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow>hr {
  margin: 30px 0;
}

.jumbotron {
  margin-top: 30px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
